/* Em src/App.css ou index.css */
body {
  background-color: #111; 
  color: #f4f4f4; 
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 20px; /* Adiciona um respiro nas bordas */
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; /* <<< ESSA É A MUDANÇA PRINCIPAL */
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}